<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.cdnfonts.com/css/race-sport-free" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    </head>
    <style>
        *{
            box-sizing: border-box;
            font-family: 'Race Sport Free', sans-serif;
        }
        html, body {
        width:  100%;
        height: 100%;
        margin: 0;
        background-color: rgb(50, 50, 50);
        }
        main{
            display: flex;
            justify-content: space-around;
        }
        main div{
            width: 30%;
            background-color: rgb(50, 50, 50);
            text-align: center;
        }
        .canvasContainer{
            min-width: 550px;
        }
        .rightSide{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .rightSide div{
            margin: 20px;
            background-color: white;
            width: 75%;
            border-radius: 3px;
            min-width: 400px;
        }
        .herb{
            border-width: 4px;
            min-width: 380px;
            border-radius: 5px;
        }
        
    </style>
    <body>
        <main>
            <div></div>
            <div class="canvasContainer"><canvas id="juegoCanvas"></canvas></div>
            <div class="rightSide" id="sideInfo">
                <div class="clock">
                    <h2>Clock: {{time}} sec</h2>
                </div>
                <div>
                    <h2>Speed: {{speed}} mph</h2>
                </div>
                <div class="herb">
                    <h2>Herb</h2>
                    <img v-if="herbStatus=='happy'" src="../assets/images/herb/herbHappy.png" alt="">
                    <img v-if="herbStatus=='laugh'" src="../assets/images/herb/herbLaugh.png" alt="">
                    <img v-if="herbStatus=='mad'" src="../assets/images/herb/herbMad.png" alt="">
                    <img v-if="herbStatus=='normal' || herbStatus==''" src="../assets/images/herb/herbNormal.png" alt="">
                    <img v-if="herbStatus=='sad'" src="../assets/images/herb/herbSad.png" alt="">
                    <img v-if="herbStatus=='shocked'" src="../assets/images/herb/herbShocked.png" alt="">
                </div>
                
            </div>
        </main>
        

        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="gameLogic/commons.js"></script>
        <script src="gameLogic/websocketMessagingHandler.js"></script>
        <script src="gameLogic/player.js"></script>
        <script src="gameLogic/gameLoop.js"></script>
    </body>

</html>