* {
    font-family: 'Race Sport Free', sans-serif;
}


.mainMenuText {
    position: absolute;
    bottom: 100px;
    left: 50px;
    font-size: 60px;
}

.options {
    font-size: 60px;
    color: white;
}

.options:hover {
    font-size: 62px;
    color: red;
}

.vid {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
    /* -o-object-fit: cover; */
    object-fit: cover;
    /* -o-object-position: center; */
    object-position: center;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: #000;
    opacity: 0.9;
}