<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/race-sport-free" rel="stylesheet">
    </head>
    <style>
        .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 0;
        background: linear-gradient(45deg, #8686ff, #ff8585);
        opacity: .5;
    }
    *{
            box-sizing: border-box;
            font-family: 'Race Sport Free', sans-serif;
        }
        html, body {
        width:  100%;
        height: 100%;
        margin: 0;
        /* background-color: rgb(50, 50, 50); */
        }
        main{
            display: flex;
            justify-content: space-around;
        }
        main div{
            width: 30%;
            /* background-color: rgb(50, 50, 50); */
            text-align: center;
        }
        .canvasContainer{
            min-width: 550px;
        }
        .rightSide{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .rightSide div{
            margin: 20px;
            background-color: white;
            width: 75%;
            border-radius: 3px;
            min-width: 400px;
        }
        .herb{
            border-width: 4px;
            min-width: 380px;
            border-radius: 5px;
        }
    </style>
    <body>
        <!-- style="background-color: linear-gradient(45deg, #8686ff, #ff8585);" -->
        <div id="VueApp">
            <v-app>

                <div class="overlay">
                </div>
                <!-- host -->
                <v-container v-if="gameSettings" style="z-index: 2;">
                    <div v-if="host">
                        <h1 style="text-align: center;">Game Settings - Host</h1>
                        <v-row>
                            <v-col>
                                <label>Lobby Name</label>
                                <v-text-field
                                    v-model="hostLobbyName"
                                    :counter="10"
                                    label="Name"
                                ></v-text-field>

                                <label>Lobby Password</label>
                                <v-text-field
                                    v-model="hostLobbyPassword"
                                    :counter="10"
                                    label="Leave blank for no password"
                                ></v-text-field>

                                <label>User Name</label>
                                <v-text-field
                                    v-model="hostUserName"
                                    :counter="10"
                                    label="Username"
                                ></v-text-field>
                            </v-col>

                            <v-col>
                                <label style="font-weight: bold;font-size: 25px;">Pick Your Vehicle:</label>
                                <v-carousel height="250" show-arrows-on-hover  v-model="currentIndex">
                                    <v-carousel-item
                                    v-for="(slide, i) in slides"
                                    :key="i"
                                    reverse-transition="fade-transition"
                                    transition="fade-transition"
                                    >
                                        <div style="padding: 20px; display: flex; justify-content: center; align-items: center;">
                                            <img :src="slide.src">
                                        </div>
                                    </v-carousel-item>
                                </v-carousel>
                            </v-col>
                        </v-row>
                        <p style='text-align: center;'>
                            <div style="position: relative;">
                                <v-btn style="width: 100%; margin: 0 auto; position: absolute;" v-on:click="createLobby">Create Lobby</v-btn>
                            </div>
                        </p>
                    </div>
                    <!-- player -->
                    <div v-else>
                        <h1 style="text-align: center;">Game Settings - Player</h1>
                        <v-row>
                            <v-col>
                                <v-toolbar color="indigo" dark>
                                    <v-toolbar-title>Select Lobby</v-toolbar-title>
                                    <v-spacer></v-spacer>
                                </v-toolbar>
                                    <v-card  class="mx-auto" style="margin-bottom: 15px;">
                                      <v-list>
                                        <v-list-item v-on:click="selectedLobby = index; selectLobby(item)" v-for="(item, index) in items" :key="item.lobbyName">
                                          <v-list-item-icon>    
                                            <v-icon v-if="selectedLobby == index" color="pink" >
                                              mdi-star
                                            </v-icon>
                                          </v-list-item-icon>
                                  
                                          <v-list-item-content>
                                            <v-list-item-title v-text="item.lobbyName"></v-list-item-title>
                                          </v-list-item-content>
                                  
                                          <v-list-item-avatar v-if="item.avatar">
                                            <v-img :src="item.avatar"></v-img>
                                          </v-list-item-avatar>
                                        </v-list-item>
                                      </v-list>
                                    </v-card>
                                <label style="margin-top: 15px;">Make a User Name</label>
                                <v-text-field :counter="10" label="Name" v-model="userName"></v-text-field>
                                <label>Enter Lobby Password</label>
                                <v-text-field type="password" :counter="10" label="Name" v-model="password"></v-text-field>
                            </v-col>
                            
                            <v-col>
                                <label style="font-weight: bold;font-size: 25px;">Pick Your Vehicle:</label>
                                <v-carousel height="250" show-arrows-on-hover>
                                    <v-carousel-item
                                    v-for="(slide, i) in slides"
                                    :key="i"
                                    reverse-transition="fade-transition"
                                    transition="fade-transition"
                                    >
                                        <div style="padding: 20px; display: flex; justify-content: center; align-items: center;">
                                            <img :src="slide.src">
                                        </div>
                                    </v-carousel-item>
                                </v-carousel>


                            </v-col>
                        </v-row>
                            <p style='text-align: center;'>
                                <div style="position: relative;">
                                    <v-btn style="width: 100%; margin: 0 auto; position: absolute;margin-top:15px" v-on:click="joinLobby">Join</v-btn>
                                </div>
                            </p>

                    </div>
                </v-container>

                <v-container v-else-if="lobby" style="z-index: 2;">
                    <h3>Users In Lobby</h3>
                    <p v-for="user in lobbyUserNames">
                        {{ user }}
                    </p>

                    <v-btn v-if="host" v-on:click="startGame">Start Game</v-btn>

                </v-container>
                <audio loop autoplay id="selectAudio">
                    <source src="../assets/audio/select.mp3" type="audio/mpeg">
                </audio>
                <v-container v-show="game" style="z-index: 2;">
                    <main>
                        <!-- <div></div> -->
                        <div class="canvasContainer"><canvas style="z-index: 5;" id="juegoCanvas"></canvas></div>
                        <div class="rightSide" id="sideInfo">
                            <div class="clock">
                                <h2>Clock: {{time}} sec</h2>
                            </div>
                            <div>
                                <h2>Speed: {{speed}} mph</h2>
                            </div>
                            <div class="herb">
                                <h2>Herb</h2>
                                <img v-if="herbStatus=='happy'" src="../assets/images/herb/herbHappy.png" alt="">
                                <img v-if="herbStatus=='laugh'" src="../assets/images/herb/herbLaugh.png" alt="">
                                <img v-if="herbStatus=='mad'" src="../assets/images/herb/herbMad.png" alt="">
                                <img v-if="herbStatus=='normal' || herbStatus==''" src="../assets/images/herb/herbNormal.png" alt="">
                                <img v-if="herbStatus=='sad'" src="../assets/images/herb/herbSad.png" alt="">
                                <img v-if="herbStatus=='shocked'" src="../assets/images/herb/herbShocked.png" alt="">
                            </div>
                            
                        </div>
                    </main>
                </v-container>
                <audio loop id="raceAudio">
                    <source src="../assets/audio/nightrun.mp3" type="audio/mpeg">
                </audio>
            </v-app>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="../game/gameLogic/commons.js"></script>
        <script src="../game/gameLogic/websocketMessagingHandler.js"></script>
        <script src="../game/gameLogic/player.js"></script>
        <script src="gameLoop.js"></script>
        
       <script></script>
    </body>
</html>